<div>
  <h2>World Data Summary - Top 10 Countries with highest total positive cases number</h2>
  <select (change)="selectContinentHandler($event)">
      <option value="All">All Continents</option>
      <option value="Africa">Africa</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="North-America">North America</option>
      <option value="South-America">South America</option>
  </select>
  <div>
      <canvas baseChart
            width=1000px
            height=500px
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </div>
</div>